# This is an example of the .env file. Copy this file to .env and fill in the values.

# Small sized payload config
# Used by benchmark-both-small.js
SELF_TEST_SMALL_PAYLOAD_FILE=../payloads/small.txt # Path to the small payload file
SELF_TEST_SMALL_MESSAGE_COUNT=10000 # Number of messages to be sent for small payload

# Medium sized payload config
# Used by benchmark-both-tac.js
SELF_TEST_TAC_PAYLOAD_FILE=../payloads/FPL_TAC.txt # Path to the medium payload file
SELF_TEST_TAC_MESSAGE_COUNT=10000 # Number of messages to be sent for medium payload

# Large sized payload config
# Used by benchmark-both-fixm.js
SELF_TEST_FIXM_PAYLOAD_FILE=../payloads/C-4_Filed_Flight_Plan_EXAMPLE_001.xml # Path to the large payload file
SELF_TEST_FIXM_MESSAGE_COUNT=1000 # Number of messages to be sent for large payload

SELF_TEST_HOST=localhost # Hostname or IP address of the AMQP server
SELF_TEST_PORT=5672 # Port number of the AMQP server for non-TLS connections
SELF_TEST_USERNAME=guest # Username for AMQP authentication
SELF_TEST_PASSWORD=password # Password for AMQP authentication
SELF_TEST_QUEUE=benchmark # Name of the AMQP queue to send messages to

SELF_TEST_TLS_PORT=5671 # Port number of the AMQP server for TLS connections
SELF_TEST_TLS_KEY_PATH=/path/to/private_key.pem # Path to the TLS private key file
SELF_TEST_TLS_CERT_PATH=/path/to/public_key.pem # Path to the TLS certificate file
SELF_TEST_TLS_CA_PATH=/path/to/ca.pem # Path to the CA certificate file
SELF_TEST_TLS_SERVER_NAME=gss-swim-test # Server name for TLS verification

SELF_TEST_SIGN_PUBLIC_KEY_PATH=/path/to/public_key.pem # Path to the public key file for signing
SELF_TEST_SIGN_PRIVATE_KEY_PATH=/path/to/private_key.pem # Path to the private key file for signing verification

SELF_TEST_ENCRYPT_PUBLIC_KEY_PATH=/path/to/public_key.pem # Path to the public key file for message encryption 
SELF_TEST_ENCRYPT_PRIVATE_KEY_PATH=/path/to/private_key.pem # Path to the private key file for message decryption 